@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  *,
  *::before,
  *::after {
    @apply m-0 p-0 box-border;
  }

  a {
    @apply no-underline;
  }

  li {
    @apply list-none;
  }

  img,
  ion-icon,
  a,
  button,
  time,
  span {
    @apply block;
  }

  button {
    @apply bg-transparent border-none text-right cursor-pointer;
    font: inherit;
  }

  input,
  textarea {
    @apply block w-full bg-transparent;
    font: inherit;
  }

  ::selection {
    @apply bg-cyan-blue text-smoky-black;
  }

  :focus {
    @apply outline-cyan-blue;
  }

  html {
    @apply font-vazir;
    direction: rtl;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  body {
    @apply bg-smoky-black;
    direction: rtl;
    text-align: right;
    overflow-x: hidden;
    width: 100%;
    max-width: 100vw;
  }
}

@layer utilities {
  .has-scrollbar::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }

  .has-scrollbar::-webkit-scrollbar-track {
    @apply bg-onyx rounded-[5px];
  }

  .has-scrollbar::-webkit-scrollbar-thumb {
    @apply bg-cyan-blue rounded-[5px];
  }

  .has-scrollbar::-webkit-scrollbar-button {
    width: 20px;
  }

  .bg-gradient-onyx {
    background: linear-gradient(to bottom right, hsl(240, 1%, 25%) 3%, hsl(0, 0%, 19%) 97%);
  }

  .bg-gradient-jet {
    background: linear-gradient(to bottom right, hsla(240, 1%, 18%, 0.251) 0%, hsla(240, 2%, 11%, 0) 100%), hsl(240, 2%, 13%);
  }

  .bg-gradient-blue-1 {
    background: linear-gradient(to bottom right, hsl(210, 100%, 65%) 0%, hsla(250, 100%, 70%, 0) 50%);
  }

  .bg-gradient-blue-2 {
    background: linear-gradient(135deg, hsla(210, 100%, 65%, 0.251) 0%, hsla(250, 100%, 70%, 0) 59.86%), hsl(240, 2%, 13%);
  }

  .bg-border-gradient-onyx {
    background: linear-gradient(to bottom right, hsl(0, 0%, 25%) 0%, hsla(0, 0%, 25%, 0) 50%);
  }

  .bg-text-gradient-blue {
    background: linear-gradient(to right, hsl(210, 100%, 66%), hsl(250, 100%, 71%));
  }
}

@keyframes scaleUp {
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}

.service-icon {
  filter: brightness(0) saturate(100%) invert(75%) sepia(100%) saturate(2000%) hue-rotate(0deg);
}
